
:root {
	--dark-blue: #000f48;
	--blue: #042d6e;
	--dark-red: #790b12;
	--red: #e0000e;
	--light-red: #db2a35;
	--dark-green: #008000;
	--green: #228B22;
	--grey: #D3D3D3;
	--dark-yellow: #E5BC3B;
	--yellow: #FFCC11;

	--bg-color: #D3D3D3;
	--form-bg-color: #042d6e;
}


.AppContainer {
	width: 100%;
	height: 100%;
}