
.ActionButtonsContainer {
	position: relative;
	float: right;
	margin: 0.5em;
	user-select: none;
}

@media only screen and (max-width: 768px) {
	.ActionButtonsContainer {
		float: none;
		position: static;
		margin: auto;
	}
}

.Button {
	width: 1em;
	height: 1em;
	display: inline-block;
	border-radius: 0.5em;
	cursor: pointer;
	padding: 0.5em;
	margin: 0.2em;
	background-color: var( --aqua-green );
	border: solid var( --aqua-green ) 0.2em;
	transition-duration: 0.3s;

}

.Button:hover {
	border: solid white 0.2em;
}

.Button img {
	width: 100%;
}