
.ActionButtonsContainer {
	position: relative;
	float: right;
	margin: 0.5em;
}

.Button {
	width: 1em;
	height: 1em;
	display: inline-block;
	border-radius: 0.5em;
	cursor: pointer;
	padding: 0.5em;
	margin: 0.2em;
	transition-duration: 0.3s;
}

.bgYellow {
	background-color: var(--dark-yellow);
	border: solid var(--dark-yellow) 0.2em;
}

.bgYellow:hover {
	background-color: var(--yellow);
	border: solid white 0.2em;
}

.bgRed {
	background-color: var(--dark-red);
	border: solid var(--dark-red) 0.2em;
}

.bgRed:hover {
	background-color: var(--red);
	border: solid white 0.2em;
}

.Button img {
	width: 100%;
}