.ColorItemContainer {
	background-color: white;
	border-radius: 0.2em;
	border: solid var( --bg-color) 0.1em;
	margin-bottom: 0.5em;
	color: white;
	padding: 0.5em;
}

.FieldsGrid {
	display: grid;
	grid-template-columns: 45% 45%;
}

@media only screen and (max-width: 768px) {
	.FieldsGrid {
		display: grid;
		grid-template-columns: 80%;
	}
}

