
.SectionEditorContainer {
	background-color: white;
	border: solid var(--bg-color) 0.3em;
	border-radius: 0.5em;
	margin-bottom: 1.5em;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {

	.SectionEditorContainer {
		margin-bottom: 1em;
	}

}

.TitleContainer {
	background-color: var(--bg-color);
	font-weight: bold;
	color: white;
	padding: 1em;
	border-bottom: solid #f5f5f5 0.2em;
}

.SectionEditorHeaders {
	background-color: var(--bg-color);
	font-weight: bold;
	color: white;
	padding: 1em;
}

@media only screen and (max-width: 768px) {

	.SectionEditorHeaders {
		padding: 0.5em;
	}

}

.SectionEditorItem {
	width: 15em;
	display: inline-block;
	margin: 0.5em;
}

@media only screen and (max-width: 768px) {

	.SectionEditorItem {
		width: 14em;
		display: inline-block;
		margin: 0.2em;
	}

}

.InputsList {
	padding: 1em;
}

.AddItemButton {
	cursor: pointer;
	margin: 1em;
	width: 15em;
	font-size: 1em;
	font-weight: bold;
	color: var( --aqua-green );
	text-align: center;
	border: solid var( --aqua-green ) 0.2em;
	border-radius: 0.2em;
	transition-duration: 0.3s;
}

.AddItemButton:hover {
	background-color: var( --aqua-green );
	color: white;
}

.HorizontalAlign {
	display: inline-block;
}

.OptionEditorItem input {
	margin-right: 3em;
	border-style: none;
	border-radius: 0.2em;
	height: 1.6em;
	padding: 0.2em 0.8em 0.2em 0.8em;
}