
.InputEditorContainer {
	background-color: white;
	border: solid black 1px;
	border-radius: 0.2em;
	margin-bottom: 1.5em;
	font-weight: bold;
	box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {

	.InputEditorContainer {
		margin-bottom: 0.5em;
		font-size: 0.75em;
	}

}

.TitleContainer {
	font-weight: bold;
	color: var( --bg-color );
	padding: 1em;
	border-bottom: solid black 0.1px;
}

.TitleContainer h3{
	display: inline-block;
}

.TitleItem {
		margin-left: 5em;
	display: inline-block;
}

.InputEditorHeaders {
	padding: 1em;
}

.InputEditorItem {
	width: 15em;
	display: inline-block;
	margin: 0.5em;
}

.OptionsList{
	margin: 1em;
	padding: 1em;
	border-radius: 0.5em;
}

.AddItemButton {
	cursor: pointer;
	margin: 0.5em;
	width: 12em;
	font-size: 1em;
	font-weight: bold;
	color: var( --aqua-green );
	text-align: center;
	border: solid var( --aqua-green ) 0.2em;
	border-radius: 0.2em;
	transition-duration: 0.3s;
}

.AddItemButton:hover {
	background-color: var( --aqua-green );
	color: white;
}

.HorizontalAlign {
	display: inline-block;
}

.OptionEditorItem input {
	margin-right: 3em;
	border-style: none;
	border-radius: 0.2em;
	height: 1.6em;
	padding: 0.2em 0.8em 0.2em 0.8em;
}