.ButtonContainer {
	user-select: none;
	text-align: center;
	background: #ffffff;
	color: var( --red );
	padding: 0.2em;
	border: solid var( --light-red ) 0.2em;
	border-radius: 0.8em;
	margin-top: 6em;
	margin: auto;
	transition-duration: 0.3s;
}

.ButtonContainer:hover {
	background: var( --red );
	color: #ffffff;
	transition-duration: 0.3s;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.8);
}

.ButtonText {
	font-weight: bolder;
	margin: 0.2em;
	font-size: 1em;
}

.primary {
	width: 90%;
}

.secondary {
	width: 60%;
}