.ButtonContainer {
	user-select: none;
	text-align: center;
	background: #ffffff;
	color: var( --bg-color );
	padding: 0.4em;
	border: solid var( --bg-color ) 0.2em;
	border-radius: 0.8em;
	margin-top: 6em;
	margin: auto;
	transition-duration: 0.3s;
}

.ButtonContainer:hover {
	background: var( --bg-color );
	color: #ffffff;
	box-shadow: 0px 0.3em 0.3em rgba(0,0,0,0.2);
	transition-duration: 0.3s;
}

.ButtonText {
	font-weight: bold;
	margin: 0.2em;
	font-size: 1em;
}

.primary {
	width: 90%;
}

.secondary {
	width: 60%;
}